[gcode_macro PID_EXTRUDER]
description: Calibrate the extruder temperature.
gcode:
  {% set T = params.T|default(195)|int %}
  PID_CALIBRATE HEATER=extruder TARGET={T}
  SAVE_CONFIG

[gcode_macro PID_BED]
description: Calibration the temperature of the bed.
gcode:
  {% set T = params.T|default(45)|int %}
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  SAVE_CONFIG

[gcode_macro PID_ALL]
description: Calibra la temperatura del extrusor y la cama.
gcode:
  {% set TE = params.TE|default(195)|int %}
  {% set TB = params.TB|default(45)|int %}
  PID_CALIBRATE HEATER=extruder TARGET={TE}
  PID_CALIBRATE HEATER=heater_bed TARGET={TB}
  SAVE_CONFIG

[gcode_macro ATTACH_PROBE]
description: Attach probe.
gcode:
  {% set F = 4000 %}   
  SAVE_GCODE_STATE NAME=attach_probe_state
  # T1
  G90
  # G0 Z24
  G0 Y60 F{F}
  G0 X20 Y60 F{F}
  G0 X1 Y60 F{F}
  G0 X1 Y120 F{F}
  G0 X20 Y120 F{F}
  G0 X20 Y60 F{F}
  RESTORE_GCODE_STATE NAME=attach_probe_state

[gcode_macro DETACH_PROBE]
description: Detach probe.
gcode:
  {% set F = 4000 %}
  SAVE_GCODE_STATE NAME=detach_probe_state
  # T1
  G90
  # G0 Z14
  G0 Y60 F{F}
  G0 X20 Y60 F{F}
  G0 X20 Y120 F{F}
  G0 X1 Y120 F{F}
  G0 X1 Y60 F{F}
  G0 X20 Y60 F{F}
  RESTORE_GCODE_STATE NAME=detach_probe_state


[gcode_macro CALIBRATION_BED]
description: Manual bed mesh calibration.
gcode:
  {% set speed = printer["gcode_macro RatOS"].macro_travel_speed|float * 60 %}
  G28
  BED_SCREWS_ADJUST
  G28
  G1 Z1 F{speed}
  Z_ENDSTOP_CALIBRATE
  ##G1 Z15 F1500
  ##SAVE_CONFIG
  #G28
  # BED_MESH_CLEAR
  #BED_MESH_CALIBRATE
  #G28
  SAVE_CONFIG

[gcode_macro CALIBRATION_INPUT_SHAPER]
description: Calibration input shaper.
gcode:
  G28
  ACCELEROMETER_QUERY
  MEASURE_AXES_NOISE
  SET_INPUT_SHAPER SHAPER_FREQ_X=0.0 SHAPER_FREQ_Y=0.0
  SHAPER_CALIBRATE
  SAVE_CONFIG

# [homing_override]
# set_position_z: 5
# gcode:
#     M400                  # Wait for moves to finish
#     G90                   # Absolute positioning
#     G0 Z10 F600           # Hop Z-Axis
#     M204 S1000            # Set homing acceleration (important!)

#     {% set x_homed = 'x' in printer.toolhead.homed_axes %}
#     {% set y_homed = 'y' in printer.toolhead.homed_axes %}

#     # Set homeing current
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.4
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.4

#     # Home X
#     {% if params.X is defined or params.Y is not defined and params.Z is not defined %}
#         G28 X
#         G0 X{printer.toolhead.axis_maximum.x / 2} F9000
#         {% set x_homed = True %}
#     {% endif %}

#     # Home Y
#     {% if params.Y is defined or params.X is not defined and params.Z is not defined %}
#         G28 Y
#         G0 Y{printer.toolhead.axis_maximum.y / 2} F9000
#         {% set y_homed = True %}
#     {% endif %}

#     # Restore current
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.config["tmc2209 stepper_x"].run_current}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.config["tmc2209 stepper_y"].run_current}

#     # Home Z
#     {% if params.Z is defined or params.Y is not defined and params.X is not defined %}
#         {% if x_homed == False or y_homed == False %}
#             M118 X and Y must be homed before homeing Z
#         {% else %}
#             G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F9000
#             G28 Z
#         {% endif %}
#     {% endif %}

#     # Safe Z
#     G0 Z10 F600

#     # Restore acceleration
#     M204 S{printer.configfile.config.printer.max_accel} 